<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Yii 2 Gii Plus Extension">
            <directory>./tests</directory>
            <exclude>./tests/migrations</exclude>
            <exclude>./tests/models</exclude>
        </testsuite>
    </testsuites>
</phpunit>
